# Ignore node_modules directory
node_modules

# Ignore npm debug logs
npm-debug.log

# Ignore Docker related files
.dockerignore
.dockerignore.example

# Ignore editor specific files
.vscode/
.idea/

# Ignore version control files
.git/
.gitignore
